/* === DEFAULT | RESET STYLES === */

@import "normalize.css";

/* === CUSTOM WEB FONTS === */

@font-face {
  font-family: "Delius";
  src:
    url("../fonts/Delius-Regular.woff2") format("woff2"),
    url("../fonts/Delius-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Patrick Hand";
  src:
    url("../fonts/PatrickHand-Regular.woff2") format("woff2"),
    url("../fonts/PatrickHand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* === GLOBAL VARIABLES === */

:root {
  --mint-green-color: oklch(0.83 0.0934 154.9);
  --light-green-color: oklch(0.88 0.0818 133.72);
  --pale-yellow-color: oklch(0.91 0.0777 94.74);
  --soft-red-color: oklch(0.84 0.0661 18.55);
  --dark-green-color: oklch(0.32 0.0417 162.75);
  --deep-olive-color: oklch(0.34 0.0567 131.69);
  --dark-brown-color: oklch(0.39 0.0799 79.8);
  --deep-maroon-color: oklch(0.36 0.113 24.7);
  --light-cyan-color: oklch(0.97 0.0516 196.33);
  --muted-purple-color: oklch(0.45 0.09 280);
  --deep-teal-color: oklch(0.39 0.0507 195.27);
  --light-beige-color: oklch(0.95 0.008 36.55);
  --deep-navy-color: oklch(0.24 0.11 250);
  --submit-button-color: oklch(0.56 0.2255 262.09);
  --low-priority: oklch(0.3 0.0222 249.62);
  --medium-priority: oklch(0.64 0.2188 300.37);
  --high-priority: oklch(0.65 0.2195 15.09);

  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
}

/* === BASE STYLES === */

body {
  font-family: "Delius", var(--system-ui);
  background: var(--light-cyan-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  margin: 0 2rem;
}

.section__title {
  font-weight: 900;
  font-family: "Patrick Hand", var(--system-ui);
  letter-spacing: 0.3ch;
}

.line {
  margin: 1.5em 0em;
  padding: 0.5px;
  border: none;
  border-radius: 1em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.create,
.submit {
  padding: 1em 2em;
  font-weight: bold;
  letter-spacing: 0.2ch;
  border-radius: 0.8em;
}

/* === HEADER STYLES === */

.header {
  padding: 1em 0;
  font-weight: 900;
  background: var(--mint-green-color);
  font-family: "Patrick Hand", var(--system-ui);
  letter-spacing: 0.5ch;
  color: var(--dark-green-color);
}

.header .container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.menu {
  position: relative;
  border-radius: 100%;
  background: var(--light-cyan-color);
  width: 3em;
  height: 3em;
}

.hamburger {
  position: absolute;
  height: 3px;
  border-radius: 25px;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--deep-olive-color);
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  border-radius: 25px;
  width: 100%;
  height: 3px;
  background: var(--deep-olive-color);
  margin: 0 auto;
}

.hamburger::before {
  transform: translateY(-0.5em);
}

.hamburger::after {
  transform: translateY(0.3em);
}

/* === MAIN CONTENT STYLES === */

.main {
  flex-grow: 1;
}

/* --- PROJECTS SECTION CONTENT --- */

.projects {
  padding: 2em 0;
  color: var(--deep-olive-color);
  background: var(--light-green-color);
  letter-spacing: 0.2ch;
}

.projects .line {
  background: var(--deep-olive-color);
}

.project-button {
  background: var(--deep-teal-color);
  color: var(--light-beige-color);
}

.project__details {
  background: var(--soft-red-color);
  color: var(--deep-maroon-color);
  font-weight: 900;
  font-size: clamp(var(--font-size-l), 2vw, var(--font-size-xl));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.8em;
  margin: 1em;
  border-radius: 1em;
}

.project__name {
  background: var(--soft-red-color);
  color: var(--deep-maroon-color);
}

.project__actions {
  border-left: solid 2px var(--deep-maroon-color);
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.edit-button,
.remove-button {
  background: transparent;
}

.all-todos {
  background: var(--light-cyan-color);
  border-radius: 0.8em;
  color: var(--deep-navy-color);
  padding: 1em 1.5em;
  font-family: "Patrick Hand", var(--system-ui);
  font-weight: bold;
  letter-spacing: 0.2ch;
}

/* --- TODO SECTION CONTENT --- */

.todo {
  padding: 2em 0;
  letter-spacing: 0.2ch;
  color: var(--deep-navy-color);
}

.todo .line {
  background: var(--deep-navy-color);
}

.todo-button {
  background: var(--muted-purple-color);
  color: var(--light-beige-color);
}

.todo__details {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  background: var(--pale-yellow-color);
  color: var(--dark-brown-color);
  width: 100%;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  position: relative;
}

.todo__item {
  flex-grow: 1;
}

.todo__details .line {
  background: var(--dark-brown-color);
}

.todo__actions {
  display: flex;
  justify-content: end;
  gap: 1.5em;
  width: 100%;
}

.todo-status {
  background: transparent;
  border: solid 2px var(--dark-brown-color);
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.todo__actions .todo {
  padding: 0;
}

/* === SIDE BAR STYLES === */

.blur-container.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: oklch(0% 0 0 / 0.3);
  backdrop-filter: blur(0.5em);
  transition: background 0.4s ease;
  z-index: 1;
}

.projects {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  height: 100%;
  min-width: 40%;
  z-index: 10;
  transition: transform 0.4s ease-in-out;
}

.projects.active {
  transform: translateX(0%);
}

.close {
  background: transparent;
  position: relative;
  left: 85%;
  margin-bottom: 2em;
}

/* === MODAL FORMS === */

.modal-container {
  position: absolute;
  background: oklch(0% 0 0 / 0.3);
  backdrop-filter: blur(0.5em);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.modal-container.active {
  transform: translateX(0%);
}

.modal {
  background: var(--light-green-color);
  color: var(--deep-olive-color);
  border: none;
  border-radius: 0.8em;
  padding: 1em 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 25ch;
}

dialog.modal::backdrop {
  backdrop-filter: blur(1rem);
}

.modal .line {
  background: var(--deep-olive-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.project .form-control {
  gap: 1em;
}

.label {
  font-family: "Patrick Hand", var(--system-ui);
  font-size: clamp(var(--font-size-l), 2vw, var(--font-size-xl));
  font-weight: 700;
  letter-spacing: 0.3ch;
  min-width: 10ch;
}

input[type="text"] {
  width: 100%;
  color: var(--deep-olive-color);
  padding: 0 0.3em;
  font-size: clamp(var(--font-size-l), 2vw, var(--font-size-xl));
}

.form-submit {
  display: flex;
  justify-content: end;
  margin-top: 2em;
}

.submit-button {
  background: var(--submit-button-color);
  color: var(--light-cyan-color);
}

.submit-button.todo {
  padding: 1em 2em;
  font-weight: bold;
  letter-spacing: 0.2ch;
  border-radius: 0.8em;
}

/* === ANIMATED BORDERS === */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.todo__details::before,
.todo__details::after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 0.5em;
  z-index: -1;
  animation: 3s spin linear infinite;
}

.todo__details.low::before,
.todo__details.low::after {
  background: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--low-priority)
  );
}

.todo__details.medium::before,
.todo__details.medium::after {
  background: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--medium-priority)
  );
}

.todo__details.high::before,
.todo__details.high::after {
  background: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--high-priority)
  );
}

.todo__details::before {
  opacity: 0.5;
  filter: blur(1.5rem);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* === MEDIA QUERIES === */

@media (width > 62.5em) {
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .menu {
    display: none;
  }

  .blur-container {
    position: static;
  }

  .projects {
    position: static;
    height: 100%;
    min-width: 100%;
    transform: translateX(0%);
  }

  .close {
    display: none;
  }

  .modal {
    min-width: 50ch;
  }

  .form-control {
    flex-direction: row;
  }

  .todo .form-control,
  .edit-todo .form-control {
    flex-direction: column;
  }
}
